:root {
  --navbar-height: 80px;
}

.navbar {
  height: var(--navbar-height);

  .navbar-brand {
    width: 60px;
  }
}

.carousel {
  height: calc(100vh - var(--navbar-height));

  .carousel-inner {
    height: 100%;
  }
}

/* Estilos especificos */
// .container-navbar .navbar-brand {
//   width: 3rem;
// }

// .card-img-top {
//   width: 100%;
//   height: 15rem;
//   object-fit: cover;
// }

// /* Loader de página */
// .loader-container {
//   position: fixed;
//   width: 100%;
//   height: 100%;
//   background-color: #f8f9fa;
//   z-index: 10;
// }
// .loader-container.hide {
//   display: none!important;
// }

// /* Fix para carousel bootstrap */
// .carousel-inner {
//   height: 0;
//   padding-bottom: 94vh;
// }

// .carousel-item {
//   position: absolute !important;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
// }

// .carousel-item img {
//   height: 100%;
//   object-fit: cover;
// }

// /* Mapa google */
// #map {
//   width: 100%;
//   height: 15rem;
// }
